doctype html
html
  block head
    include ./includes/head.jade
  body
    block navigation
      nav.navbar.navbar-light.bg-faded
        .container
          a.navbar-brand(href=navbarBrand.link) #{navbarBrand.title}
          ul.nav.navbar-nav
            each nav in navigation
              li.nav-item
                a.nav-link(href=nav.link) #{nav.title}
          a.pull-right(href='/profile') 
            span.btn.btn-sm.btn-primary.m-r Your Profile 
            img(src=user.pic, width=25, height=25)
        
    .container
      block content
    
    block foot
      include ./includes/foot.jade

    block data

    block global
      script.
        var session=!{JSON.stringify( session )}
      each script in javascripts
        script(src=script)

    block script
