extends ./layouts/layout.jade

block navigation
  nav.navbar.navbar-light.bg-faded
    .container
      a.navbar-brand(href=navbarBrand.link) #{navbarBrand.title}

block content
  .container
    .row
      .col-sm-12
        p Hello
        each login, idx in socialLogin
          p
            a.btn(href=login.callbackURL, class=login.btn) Login with #{login.name} 
              i.fa(class=login.icon)
        p 
          if auth.isAuthenticated
            span You are logged in!
          else
            span Please login

block foot
